.CardList-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.CardList-img{
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
}