.Card-container {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(126, 59, 214);
    margin: 10px;
}

.Card-link{
   font-size: 20;
   font-weight: bold;
   color: white;
}